<%# フラッシュがある時だけ、データノードを出力 %>
<% if flash.present? %>
  <div id="flash-messages" aria-live="polite" class="sr-only"></div>
  <% flash.each do |type, message| %>
    <div class="js-flash-message"
         data-flash-type="<%= type %>"
         data-flash-message="<%= j message %>"></div>
  <% end %>
<% end %>
